# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log
config.py
# Virtual Environment
venv/
env/
ENV/
.venv/
.ENV/

# VS Code
.vscode/

# Discord Bot
token.txt
config.json
notes.json